:root{
    --fontTitle: 'DM Sans','sans-serif';
    --fontText: 'Inter', sans-serif;
    --bitcoinOrange: #F7931A;
    --softOrange: #FFE9D5;
    --scondaryBlue: #1A9AF7;
    --softBlue: #E7F5FF;
    --warmBlack: #201E1C;
    --grey: #BABABA;
    --offWhite: #FAF8F7;
    --justWhite: #FFFFFF;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: var(--fontTitle);
    font-size: 62.5%;
}  
.header{
    background-image: url("../assets/BG.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: auto;
    height: 334px;
}
.header .imgLogo img{
    height: 50px;
    padding: 10px;
    padding-top: 10px;
    margin: auto;
    margin-left: 30%;
}

